{% extends 'base.html.twig' %}
{% block title %} SymphArt Articles {% endblock %}
{% block body %}
  {% if articles %}
    <table id="articles" class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Article name</th>
          <th>Article body</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for article in articles %}
          <tr>
            <td>
              {{ article.id }}
            </td>
            <td>
              {{ article.title }}
            </td>
            <td>
              {{ article.body }}
            </td>
            <td>
              <a href="{{ path('article.view', {'id':article.id})}}" class="btn btn-dark">Show</a>
              <a href="{{ path('article.update', {'id':article.id})}}" class="btn btn-info">Update</a>
              <a href="" class="btn btn-danger delete-article" data-id="{{ article.id }}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>There are no articles</p>
  {% endif %}
  <div>
    <a href="{{ path('article.create') }}" class="btn btn-primary">Create new article</a>
  </div>
{% endblock %}